include mixins
doctype
html
	head
		if isDev
			include debugger
		link(rel='stylesheet' href=rootPath+'/style.css')
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/styles/default.min.css")
		meta(content="width=device-width, initial-scale=1.0" name="viewport")
		title=title
		script(src="https://code.jquery.com/jquery-2.1.3.min.js")
		script(src=rootPath+'/jquery.tablesorter.min.js')
		script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.5/highlight.min.js")
		script(src=rootPath+'/main.js')
	body(class=current.path.join(' ')+' '+environment)
		#Wrapper
			#Content
				block SIDEBAR
				.content
					block TITLE
						+title(current,'Images Talk')
					block BODY
						+body()
			#Footer
				block FOOTER
					p &copy; Arab Image Foundation


