include helpers

- var vertabelo_mixin = function(url){
	.iframe.vertabello
		iframe(src="https://my.vertabelo.com/v/"+url frameborder="0" height="300px" width="400px")
- }

mixin title(current,mainTitle)
	- if(current.path[current.path.length-1] == 'index'){current.path.pop();}
	if !current.path.length
		h1
			a(href='http://arabimagefoundation.github.io/imagestalk')=mainTitle
	else
		h1
			a(href='/'+current.path.join('/'))=formatTitle(current)

mixin text(s)
	- return s

mixin section(name,title,url,path,noTitle)
	- path = path || name
	section(id=name+"-section")
		if title
			h2
				if url
					a(href=rootPath+url)=title
				else
					| title
		else if !/index\.md/.test(name)
			if !noTitle
				h2.autoTitle(id=name+"-section-title")
					a(href='./'+name)=formatName(name.split('/').pop())
		!=partial(name)

- var filter = /(\.html$)/;
- var replace = /(\.html$)|(^index\.html$)/;
- var filter404 = /(404)/;

mixin tree(head,tail,current)
	- var path;
	for val, key in head
		- var active = false;
		if key == '.git' || key == '_data'
			- continue
		if key == '_contents'
			each file in val
				- active = false;
				if filter.test(file) && !filter404.test(file)
					- file = file.replace(replace, "");
					if file !== '' && file !== '/'
						- path = tail+file
						li
							a(href="#{rootPath+path}" class=isCurrent(path,current))=formatName(file)
		else
			li
				- path = tail+key
				a(href="#{rootPath+path}" class=isCurrent(path,current))=formatName(key)
				- try{var valKeys = Object.keys(val)}catch(e){console.log(val,e);return;}
				if !valKeys.length || valKeys.length==1 && valKeys[0] == '_contents'
					if val._contents[0] == 'index.html' && val._contents.length == 1
						- return
				ul
					mixin tree(val, tail + key + "/",current)

mixin sitemap(tail,current)
	ul
		+tree(public,tail,current)

mixin sidebar(base,basePath,current,home)
	input#DrawerToggle(type="checkbox" name="drawer-toggle")
	.sidebar
		label(for="DrawerToggle" id="drawer-toggle-label")
			i.fa.fa-bars
		ul
			li
				a(href=rootPath?rootPath:'/' class="home")
					i.fa.fa-home
					| Home
			li.open
				a(href=rootPath+basePath class=isCurrent(basePath.replace(/^\/|\/$/g,''),current.path.join('/')))=formatName(basePath)
				ul.open
					+tree(base,basePath,'/'+current.path.join('/'))

mixin timelineItem(startY,startM,startD,endY,endM,endD)
	- var start = new Date(startY,startM,startD).toISOString().split('T')[0]
	- var end = endY && endM && endD ? new Date(endY,endM,endD).toISOString().split('T')[0] : false
	- if(!attributes['data-type']){attributes['data-type'] = end ? 'range' : 'box';}
	.timeline-item(attributes)
		.date-start=start
		if end
			.date-end=end
		.timeline-item-content
			block

mixin timelinePoint(startY,startM,startD)
	- if(!attributes['data-type']){attributes['data-type'] = 'point';}
	+timelineItem(startY,startM,startD,endY,endM,endD)(attributes)
		block

mixin timelineSpan(startY,startM,startD,endY,endM,endD)
	- if(!attributes['data-type']){attributes['data-type'] = 'background';}
	+timelineItem(startY,startM,startD,endY,endM,endD)(attributes)
		block

mixin listDir(inc,prepend,noTitle)
	- var head = public
	- var tail = current.path
	- tail = (tail[tail.length-1]=='index') ? tail.slice(0,-1) : tail.slice()
	- var basePath = tail.join('/')+'/'
	- var root = findKey(head,tail)
	- if(!root){return;}
	- root = root._contents
	- prepend = prepend || ''
	for val in root
		- if (!/\.html$/.test(val)){continue;}
		- val = val.replace(/\.html$/,'')
		if val == 'index'
			- continue
		if !inc
			a(href="/#{rootPath+basePath+val}")=formatName(val)
		else
			- var path = prepend+val
			+section(val,null,null,path,noTitle)
